/* body style */
body{
    color: black; /* change the text color to black */
    background-color: bisque; /* change the background color to bisque */
    font-family: 'Courier New', Courier, monospace;
}