/* this is body style */
body{
    color: black; /* change font color to black */
    background-color: bisque; /* change background color to bisque */
    font-family: 'Courier New', Courier, monospace; /* change font style to monospace */
}