#Menubar{text-align: center;
    padding-bottom: 20px;
    border-bottom-style: groove;

}
/* this is body style */
body{
    text-align: center;
    color: burlywood; /* change font color to  wheat*/
    background-color: aliceblue ; /* change background color to aliceblue */
    font-family: 'Courier New', Courier, monospace; /* change font style to monospace */
}
#first{
    font-size: medium; /* change hello font size*/
}
#last{
    font-size: larger; /* change name font size */
}